# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/out-tsc
# Only exists if Bazel was run
/bazel-out

# dependencies
/node_modules

# profiling files
chrome-profiler-events*.json
speed-measure-plugin*.json

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db
projects/L07-angular-httpservice-E60-rest-crud-example__/browserslist
projects/L07-angular-httpservice-E60-rest-crud-example__/db.json
projects/L07-angular-httpservice-E60-rest-crud-example__/karma.conf.js
projects/L07-angular-httpservice-E60-rest-crud-example__/tsconfig.app.json
projects/L07-angular-httpservice-E60-rest-crud-example__/tsconfig.spec.json
projects/L07-angular-httpservice-E60-rest-crud-example__/tslint.json
projects/L07-angular-httpservice-E60-rest-crud-example__/e2e/protractor.conf.js
projects/L07-angular-httpservice-E60-rest-crud-example__/e2e/tsconfig.json
projects/L07-angular-httpservice-E60-rest-crud-example__/e2e/src/app.e2e-spec.ts
projects/L07-angular-httpservice-E60-rest-crud-example__/e2e/src/app.po.ts
projects/L07-angular-httpservice-E60-rest-crud-example__/src/favicon.ico
projects/L07-angular-httpservice-E60-rest-crud-example__/src/index.html
projects/L07-angular-httpservice-E60-rest-crud-example__/src/main.ts
projects/L07-angular-httpservice-E60-rest-crud-example__/src/polyfills.ts
projects/L07-angular-httpservice-E60-rest-crud-example__/src/styles.css
projects/L07-angular-httpservice-E60-rest-crud-example__/src/test.ts
projects/L07-angular-httpservice-E60-rest-crud-example__/src/app/app.component.css
projects/L07-angular-httpservice-E60-rest-crud-example__/src/app/app.component.html
projects/L07-angular-httpservice-E60-rest-crud-example__/src/app/app.component.spec.ts
projects/L07-angular-httpservice-E60-rest-crud-example__/src/app/app.component.ts
projects/L07-angular-httpservice-E60-rest-crud-example__/src/app/app.mattabledatasource.component.html
projects/L07-angular-httpservice-E60-rest-crud-example__/src/app/app.mattabledatasource.component.ts
projects/L07-angular-httpservice-E60-rest-crud-example__/src/app/app.module.ts
projects/L07-angular-httpservice-E60-rest-crud-example__/src/app/google-books.service.spec.ts
projects/L07-angular-httpservice-E60-rest-crud-example__/src/app/google-books.service.ts
projects/L07-angular-httpservice-E60-rest-crud-example__/src/app/models/book.model.spec.ts
projects/L07-angular-httpservice-E60-rest-crud-example__/src/app/models/book.model.ts
projects/L07-angular-httpservice-E60-rest-crud-example__/src/assets/.gitkeep
projects/L07-angular-httpservice-E60-rest-crud-example__/src/environments/environment.prod.ts
projects/L07-angular-httpservice-E60-rest-crud-example__/src/environments/environment.ts
projects/L07-angular-httpservice-E60-rest-crud-example_/browserslist
projects/L07-angular-httpservice-E60-rest-crud-example_/db.json
projects/L07-angular-httpservice-E60-rest-crud-example_/karma.conf.js
projects/L07-angular-httpservice-E60-rest-crud-example_/tsconfig.app.json
projects/L07-angular-httpservice-E60-rest-crud-example_/tsconfig.spec.json
projects/L07-angular-httpservice-E60-rest-crud-example_/tslint.json
projects/L07-angular-httpservice-E60-rest-crud-example_/e2e/protractor.conf.js
projects/L07-angular-httpservice-E60-rest-crud-example_/e2e/tsconfig.json
projects/L07-angular-httpservice-E60-rest-crud-example_/e2e/src/app.e2e-spec.ts
projects/L07-angular-httpservice-E60-rest-crud-example_/e2e/src/app.po.ts
projects/L07-angular-httpservice-E60-rest-crud-example_/src/favicon.ico
projects/L07-angular-httpservice-E60-rest-crud-example_/src/index.html
projects/L07-angular-httpservice-E60-rest-crud-example_/src/main.ts
projects/L07-angular-httpservice-E60-rest-crud-example_/src/polyfills.ts
projects/L07-angular-httpservice-E60-rest-crud-example_/src/styles.css
projects/L07-angular-httpservice-E60-rest-crud-example_/src/test.ts
projects/L07-angular-httpservice-E60-rest-crud-example_/src/app/app.component.css
projects/L07-angular-httpservice-E60-rest-crud-example_/src/app/app.component.html
projects/L07-angular-httpservice-E60-rest-crud-example_/src/app/app.component.spec.ts
projects/L07-angular-httpservice-E60-rest-crud-example_/src/app/app.component.ts
projects/L07-angular-httpservice-E60-rest-crud-example_/src/app/app.module.ts
projects/L07-angular-httpservice-E60-rest-crud-example_/src/app/book.model.ts
projects/L07-angular-httpservice-E60-rest-crud-example_/src/app/google-books.service.ts
projects/L07-angular-httpservice-E60-rest-crud-example_/src/assets/.gitkeep
projects/L07-angular-httpservice-E60-rest-crud-example_/src/environments/environment.prod.ts
projects/L07-angular-httpservice-E60-rest-crud-example_/src/environments/environment.ts
