<!--
<div class="messages messages-error" *ngIf="errors?.length">
  <div class="messages-container">
    <div *ngFor="let error of errors">{{messagePerErrorCode[error]}}</div>
  </div>
</div>
-->

<form autocomplete="off" novalidate [formGroup]="form">
  <mat-form-field>
    <mat-label>Email:</mat-label>
    <input matInput placeholder="email" name="email" formControlName="email">
  </mat-form-field>
  <br>
  <mat-form-field>
    <mat-label>Password:</mat-label>
    <input matInput placeholder="password" name="password" formControlName="password" type="password">
  </mat-form-field>
  <br>
  <button mat-raised-button color="primary" (click)="login()">Login</button>
  <button mat-raised-button color="warn" (click)="logout()">Logout</button>
<br>
<p>Run with proxy as ng serve --proxy-config projects/L10-angular-forms-E60-login/src/proxy.conf.json</p>
<p>Available user has "email": "olivier@mail.com" and "password": "bestPassw0rd"</p>
<p>Run <a href="https://www.npmjs.com/package/json-server-auth">json-server-auth</a> as ./node_modules/json-server-auth/dist/bin.js projects/L10-angular-forms-E60-login/db.json -r projects/L10-angular-forms-E60-login/routes.json </p>
</form>