
<mat-toolbar>
  <span>{{ title }}</span>
</mat-toolbar>
<mat-card>
  <mat-card-title>Create a new owner</mat-card-title>
  <form #f="ngForm">
    <mat-card-content>

      <mat-form-field>
        <mat-label for="username">Username:</mat-label>
        <!-- put or delete required: changes valid poperty -->
        <input matInput type="text" placeholder="username" name="username" #field="ngModel" ngModel required>
      </mat-form-field>
      <mat-error *ngIf="field.invalid && !field.pristine">Username is required</mat-error>
      <!--
      <div [hidden]="field.valid || field.pristine">
        Username is required
      </div>
      -->
      <br>
      <mat-form-field>
        <mat-label for="age">Age:</mat-label>
        <!-- put or delete required: changes valid poperty -->
        <input matInput type="text" placeholder="age" name="age" #age="ngModel" ngModel pattern="[0-9]+">
        <mat-error *ngIf="age.invalid">Age allows only numbers</mat-error>
      </mat-form-field>

    </mat-card-content>
  </form>
<pre>
form value:  {{ f.value | json }}
form status: {{ f.status | json }}
field valid:  {{ field.valid | json }}
</pre>
</mat-card>